.input {
  border: solid #9d9d9d 0.1rem;
  background-color: #fff;
  padding: 1.65rem 1.2rem;
  min-width: 41.8rem;
  width: 100%;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
