.sidebarContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 27rem;
  // width: 100%;
  // padding: 8vh 3.2rem 0 3.2rem;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #e7e7e9;
  z-index: 99;
}
