div {
  font-size: 6rem;
  font-weight: 700;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

p {
  font-size: 1.6rem;
  font-weight: 500;
}

button {
  max-width: 56.8rem;
}
